@page
@model RazorProdutosApp.Pages.IndexModel
@{
    ViewData["Title"] = "Página Inicial";
}

<h1>Lista de Produtos - Questaõ 08</h1>

<ul>
    @foreach (var produto in Model.Produtos)
    {
        <li>
            <strong>@produto.Nome</strong>: R$ @produto.Preco
        </li>
    }
</ul>

<a href="/AddProduct">Ir para Questão 09</a>
<a href="/AddEvent">Ir para Questão 11</a>